html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    font-family: Georgia, Verdana, sans-serif;
    background-image: url(https://itmd-362-jreginaldo.github.io/lab2/assets/images/bg.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    display: flex;
}

form {
    background-color: white;
    margin: auto;
}

@media screen
    and (min-width: 480px) {
    label {
     display: inline-block;
    }
}